<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup</title>
</head>
<body>
    <h1>Signup</h1>
    <form action="/user" method="post">
        <lable>Full Name</lable>
        <input type="text" name="username" required>
        <lable>Email</lable>
        <input type="email" name="email" required>
        <lable>Password</lable>
        <input type="text" name="password" required>
        <button type="submit">submit</button>
    </form>
</body>
</html>